<header class="main-header">
	<div class="main-logo">
	<a href="" class="uk-logo">Tiger Code Product A</a>
	</div>
</header>
<div class="uk-container">
  <%= form_with url: repos_result_path do |f| %>
    <%= f.text_field :reposurl, class: 'uk-input repos-input' %>
    <%= f.submit %>
  <% end %>
</div>