.main-header{
  background-color: #FFE201;
  height: 60px;
}

.main-logo{
  height: 100%;
  margin: 0;
}

.uk-logo{
  color: black;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding-left: 20px;
  display: flex;
  align-items: center;
}

.repos-input{
  margin: 50px;
}